body {
    font-family: 'Bitter', serif;
}

#header {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
    color: white;
}

#first_name {
    font-size: 150%;
    
}

.checkbox-label {
    padding: 1%;
}

span {
    font-size: 300%;
}

.map-api{
    height: 300px;
    width: 300px;
    display : none;
}

#jobs-api-1{
    display: flex;
    flex-direction: column;
    font-size: 150%;
}

#jobs-api-2 {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 150%;
}

.job0, .job1, .job2 {
    background-color: teal;
    color: white;
    max-width: fit-content;
    margin: 1% 0%;
    padding: 1%;
    border-radius: 20px;
    font-size: 70%;
}

.job-0, .job-1, .job-2 {
    background-color: teal;
    color: white;
    max-width: fit-content;
    margin: 1% 0%;
    padding: 1%;
    border-radius: 20px;
    font-size: 70%;
}