body {
    font-family: 'Bitter', serif;
    height: 100%;
}

#header {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
    color: white;
}

/*Code for pinned city-bar during scrolling
.city-bar {
    z-index: 1;
    background-color: white;
} */

#city-input-1, #city-input-2 {
    font-size: 125%;   
}

span {
    font-size: 300%;
    padding: 0px 10px 0px 0px;
}

.modal {
    font-size: 125%;
    background-color: teal;
    color: white;
}

#map-container-1 {
    margin-top: 2%;
}

#map-container-2 {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.map-api{
    width: 400px;
    height: 400px;
}

.covid-api-div1, .covid-api-div2 {
    background-color: teal;
    color: white;
    font-size: 110%; 
    border-radius: 20px;
    margin: 1% 0%;
    padding: 1%;
    width: 400px;
}

#covid-container-1 {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#covid-container-2 {
    display: flex;
    flex-direction: column;
    align-items: end;
}


#jobs-container-1 {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#jobs-container-2 {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.mainh51, .mainh52 {
    font-size: 110%; 
    margin: 1% 0%;
    padding: 1%;
    width: 400px;
}

.job0, .job1, .job2 {
    background-color: teal;
    color: white;
    width: 400px;
    margin: 1% 0%;
    padding: 1%;
    border-radius: 20px;
    font-size: 70%;
    text-align: left;
}

.job-0, .job-1, .job-2 {
    background-color: teal;
    color: white;
    width: 400px;
    margin: 1% 0%;
    padding: 1%;
    border-radius: 20px;
    font-size: 70%;
    text-align: left;
}




#weather-container-1 {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#weather-container-2 {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.weather-api-div1, .weather-api-div2 {
    background-color: teal;
    color: white;
    font-size: 110%; 
    border-radius: 20px;
    margin: 1% 0%;
    padding: 1%;
    width: 400px;
}

#temp-icon {
    width: 90px;
}
    
.deg, .percent, .mph {
    font-size: 15px;
}

/* #weather-api-1, #weather-api-2 {
    display: flex;
    flex-direction: column;
    /* align-items: start; 
    background-color: teal;
    color: white;
    font-size: 110%; 
    border-radius: 20px;
    margin: 1% 0%;
    padding: 1%;
    width: 400px;
    font-weight: bold;
} */

/* .weatherHeader {
    /* color : teal; */
    font-weight: bold;
} */
    


/* Bindu's original styling
#weather-api-1, #weather-api-2 {
    display: none;
    background-color: rgb(195, 219, 231);
    border-radius: 8px;
    box-shadow: 3px 5px 8px teal;
    text-align: center;
    color: rgb(22, 122, 122);
    padding-top: 10px; 
    margin: 10px auto; 
    width: 80%; 
    font-weight: bold;
}

.weatherHeader {
color : teal;
font-weight: bold;
}

#temp-icon {
 width: 90px;
}

.deg, .percent, .mph {
    font-size: 15px;
} */
